<div id="feedback">
  <div id="compressed_feedback_form_tab">
    <%= link_to image_tag('feedback_tab.png'), '#', :class => 'toggle_feedback' %>
  </div>
  <div id="expanded_feedback_form" style="display:none">
    <div id="expanded_feedback_form_tab"><%= link_to image_tag('feedback_tab.png'), '#', :class => 'toggle_feedback' %></div>
    <% @remark ||= Remark.new %>
    <%= render :partial => 'remarks/form' %>
  </div>
</div>