<% remote_form_for @remark do |f| %>
  <label><%= render :partial => 'remarks/greeting' %></label>
  <div><%= f.text_area :content %></div>
  <div id='feedback_submit_button'><%= f.submit 'Submit Feedback' %> <span class="fb_cancel"><%= link_to_function 'Cancel', "$('expanded_feedback_form').hide(); $('compressed_feedback_form_tab').show();" %></span></div>
  <div id='feedback_thank_you_message' style='display:none'>Thank you for your feedback!</div>
<% end %>